.bg-image {

    background-color: #53504d;
}
.bg-image::before {
  content: "";
  background-image: url('/images/loginBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}